.form-block {
    display: grid;

    @media (max-width: 1024px) {
        row-gap: var(--offset-l);
    }

    @media (min-width: 1025px) {
        grid-template-columns: 29.6rem 1fr var(--form);
        grid-template-rows: 0.7rem max-content var(--section-padding) max-content;
        grid-template-areas:
            '. . form'
            'text . form'
            '. . .'
            'contacts . agree';
    }

    // .free-training-recording__text

    &__text {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    &__form {
        display: grid;
        gap: var(--offset-xls) var(--offset-m);

        @media (max-width: 767px) {
            gap: var(--offset-s);
        }

        @media (min-width: 1025px) {
            grid-area: form;
        }
    }

    // .free-training-recording__input

    &__input {
        &--name {
            @media (min-width: 768px) {
                grid-area: name;
            }
        }

        &--tel {
            @media (min-width: 768px) {
                grid-area: tel;
            }
        }

        &--email {
            @media (min-width: 768px) {
                grid-area: email;
            }
        }

        &--textarea {
            font-family: inherit;
            padding-top: var(--offset-s);
            height: auto;

            @media (min-width: 768px) {
                grid-area: textarea;
            }
        }
    }

    &__select {
        @media (min-width: 768px) {
            grid-area: select;
        }
    }

    // .free-training-recording__btn

    &__btn {
        @include row-grid(var(--offset-s));

        @media (min-width: 768px) {
            grid-area: btn;
        }
    }

    // .free-training-recording__contacts

    &__contacts {
        @media (min-width: 1025px) {
            grid-area: contacts;
        }
    }

    &__messangers {
        gap: var(--offset-l);

        @media (max-width: 767px) {
            gap: var(--offset-s);
        }
    }

    // .free-training-recording__form-agree

    &__form-agree {
        @media (min-width: 1025px) {
            grid-area: agree;
            align-self: center;
        }
    }

    &__contact {
        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}
