label {
    .input {
        width: 100%;
    }
}

.form {
    > * {
        &:not(:last-child) {
            margin-bottom: var(--offset-l);

            @media (max-width: 767px) {
                margin-bottom: var(--offset-m);
            }
        }
    }

    &__title {
        @extend %text-17;
        font-weight: 700;
    }

    &__body {
        display: grid;
        row-gap: var(--offset-m);

        @media (max-width: 767px) {
            row-gap: var(--offset-s);
        }
    }
}
