.apps {
    @extend %grid-row;
    // .apps__item

    &__item {
        height: var(--offset-xls);
        transition: 0.3s box-shadow;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: $bsh;
            }
        }

        &--radius {
            border-radius: 0.4rem;

            img {
                border-radius: 0.4rem;
            }
        }

        &--appstore {
            width: 12.8rem;
        }

        &--googleplay {
            width: 13.5rem;
        }

        img {
            @extend %cover;
        }
    }
}
