.unique-concept {
    --form: 28.8rem;
    --img: 48rem;
    --decor: 17.1rem;
    --decor--offset: var(--offset-xls);
    --pt: 12rem;

    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, 100%, var(--beige));
        }
    }

    &__inner {
        align-items: flex-start;
    }

    // .unique-concept__body

    &__body {
        display: grid;

        @media (max-width: 1024px) {
            row-gap: var(--offset-m);
            @include padding-y(var(--offset-m));
        }

        @media (min-width: 1025px) {
            grid-template-rows: var(--pt) max-content 7.2rem max-content 11rem 23.5rem 1fr 10.4rem - 4.9rem;
            grid-template-columns: var(--form) var(--offset-xl) 10.1rem 1fr calc(var(--img) - var(--circle-text) / 2) calc(
                    var(--circle-text) / 2
                );
        }

        > * {
            @media (max-width: 1024px) {
                width: calc(100vw - var(--mob-padding));
                padding-right: var(--mob-padding);
            }
        }
    }

    // .unique-concept__title

    &__title {
        @media (min-width: 1025px) {
            grid-row: 2 / 3;
            grid-column: 1 / -2;
        }
    }

    // .unique-concept__text

    &__text {
        position: relative;

        @media (min-width: 1025px) {
            grid-row: 4 / 5;
            grid-column: span 3;
        }

        &::before {
            @extend %bg-contain;

            @media (min-width: 1025px) {
                content: '';
                position: absolute;
                top: var(--decor--offset);
                right: -13.8rem;
                bottom: calc(var(--decor--offset) * (-1));
                width: var(--decor);
                //background-image: url(../images/content/unique-concept/decor.svg);
            }
        }
    }

    // .unique-concept__img

    &__img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            position: relative;
            grid-row: 4 / 7;
            grid-column: 5 / -1;
        }

        img {
            @extend %cover;
        }
    }

    // .unique-concept__form

    &__form {
        @media (min-width: 1025px) {
            grid-row: 6 / -2;
            grid-column: 1 / 2;
        }
    }

    // .unique-concept__video

    &__video {
        @media (min-width: 1025px) {
            grid-row: 6 / -2;
            grid-column: 3 / -1;
            grid-template-columns: 1fr 4.7rem max-content;
        }

        @media (min-width: 1025px) {
        }
    }

    &__video-body {
        @media (max-width: 1024px) {
            width: 100vw;
            margin-left: calc(var(--mob-padding) * (-1));
        }

        @media (max-width: 500px) {
            height: 19.4rem;
        }
    }

    &__circle-text {
        position: absolute;
        top: calc(var(--circle-text) / -2);
        right: calc(var(--circle-text) / -2);
    }
}
