.footer {
    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, left, 0, 0, 40rem, var(--yellow));
        }
    }

    &__container {
        @media (max-width: 1024px) {
            grid-template-columns: var(--mob-padding) 1fr var(--mob-padding);
        }
    }

    // .footer__body

    &__body {
        @include padding-y(8rem);
        display: grid;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: var(--offset-m) max-content var(--offset-m) max-content var(--offset-l) max-content;
            grid-template-areas:
                '. . .'
                'contacts contacts contacts'
                '. . .'
                'logo apps soc'
                '. . .'
                'copy politics dev';
        }

        @media (min-width: 1025px) {
            justify-content: space-between;
            align-items: flex-start;
            grid-template-columns: repeat(4, max-content);
            grid-template-rows: max-content var(--offset-xxl) max-content 5.9rem max-content;
            grid-template-areas:
                'menu-1 menu-2 menu-3 contacts'
                '. . . .'
                'logo apps . soc'
                '. . . .'
                'copy politics . dev';
        }

        @media (max-width: 1024px) {
            @include padding-y(var(--offset-m));
        }

        @media (max-width: 767px) {
            row-gap: var(--offset-m);
        }
    }

    &__menu-col {
        @media (max-width: 1024px) {
            border: 0.1rem solid var(--black);
            border-top: none;
            padding-right: 0;
            margin-left: calc(var(--mob-padding) * (-1));
            margin-right: calc(var(--mob-padding) * (-1));
        }

        &:not(:first-of-type) {
            @media (max-width: 767px) {
                margin-top: calc(var(--offset-m) * (-1));
            }
        }

        &--1 {
            @media (max-width: 1024px) {
                border-top: 0.1rem solid var(--black);
            }

            @media (min-width: 1025px) {
                grid-area: menu-1;
            }
        }

        &--2 {
            @media (min-width: 1025px) {
                grid-area: menu-2;
            }
        }

        &--3 {
            @media (min-width: 1025px) {
                grid-area: menu-3;
            }
        }
    }

    // .footer__title

    &__title {
        @extend %text-17;
        font-weight: 700;
        color: var(--dark);
        padding: 0;

        &::before {
            display: none;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        @media (max-width: 1024px) {
            padding: 1.4rem var(--mob-padding);
        }

        @media (min-width: 1025px) {
            margin-bottom: 2.2rem;
        }
    }

    // .footer__menu-list

    &__menu-list {
        @media (min-width: 1025px) {
            display: block;
            background-color: transparent;
            padding: 0;
        }

        @media (max-width: 1024px) {
            display: none;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    // .footer__link

    &__link {
        @extend %text-14;
        color: var(--dark-gray);
        transition: 0.3s color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--yellow);
            }
        }
    }

    // .footer__menu-list--row

    &__menu-list--row {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            column-gap: 8.6rem;
        }
    }

    // .footer__contacts

    &__contacts {
        display: grid;
        gap: 1.4rem;

        @media (min-width: 768px) {
            grid-area: contacts;
        }

        @media (max-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        @media (min-width: 1025px) {
            justify-self: end;
        }
    }

    &__contact {
        @media (max-width: 767px) {
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
        }
    }

    // .footer__social

    &__social {
        gap: var(--offset-s);

        @media (min-width: 768px) and (max-width: 1024px) {
            justify-self: end;
        }

        @media (min-width: 768px) {
            grid-area: soc;
        }
    }

    // .footer__apps

    &__apps {
        gap: var(--offset-m);

        @media (min-width: 768px) {
            grid-area: apps;
        }
    }

    // .footer__logo

    &__logo {
        @media (min-width: 768px) {
            grid-area: logo;
        }
    }

    // .footer__logo-img

    &__logo-img {
        width: 15.7rem;
        height: 2.3rem;

        @media (max-width: 767px) {
            width: 13.6rem;
            height: 2rem;
        }
    }

    // .footer__copyright

    &__copyright {
        color: var(--gray-second);

        @media (min-width: 768px) {
            grid-area: copy;
        }

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }

    // .footer__politics

    &__politics {
        color: var(--gray-second);

        @media (min-width: 768px) {
            grid-area: politics;
            align-self: flex-end;
        }

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }

    // .footer__dev

    &__dev {
        @extend %flex-col;
        color: var(--gray-second);

        @media (min-width: 768px) {
            align-items: flex-end;
            text-align: right;
            grid-area: dev;
            align-self: flex-end;
        }

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        > div {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 0.2rem;
            }
        }

        dd {
            margin-left: var(--offset-xxs);
            font-weight: 500;
            transition: 0.3s color;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }

    .double-marquee {
        @media (max-width: 767px) {
            @include padding-y(var(--offset-xxs));
        }
    }
}
