.numbers {
    @extend %flex-row;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    // .numbers__item

    &__item {
        @extend %flex-col;
        max-width: 22.8rem;

        @media (max-width: 1024px) {
            max-width: 19.8rem;
        }

        @media (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: var(--offset-m);
            }
        }

        > * {
            &:not(:last-child) {
                margin-bottom: var(--offset-s);

                @media (max-width: 767px) {
                    margin-bottom: calc(var(--offset-xxs) / 2);
                }
            }
        }
    }

    // .numbers__item-num

    &__item-num {
        @extend %text-32;
        font-weight: 700;

        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    // .numbers__item-descr

    &__item-descr {
        font-weight: 300;
        line-height: 2.4rem;
        opacity: 0.8;

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
}
