.promo-faq {
    position: relative;
    background-size: 31.3rem 17rem;

    @media(max-width: 1024px) {
        background-size: 0 0;
    }

    @media(min-width: 1025px) {
        background-position: calc(100% - 30rem) calc(100% - 14.2rem);
        background-repeat: no-repeat;
    }

    @media (min-width: 1025px) {
        border-bottom: $border;
        grid-template-rows: calc(var(--header-height) + var(--offset-xxl)) max-content var(--offset-xxxl);
    }

    @media (max-width: 1024px) {
        padding-top: calc(var(--header-height) + var(--offset-m));
    }

    &:after {
        @extend %contain;
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, left, 0, 0, var(--gap), var(--yellow));
        }
    }

    // .promo-faq__decor-title

    &__decor-title {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            grid-column: -2 / -1;
            grid-row: 1 / -1;
        }
    }

    &__content {
        grid-row: 2 / 3;
        display: grid;
        row-gap: 11.8rem;

        @media (max-width: 767px) {
            row-gap: var(--offset-m);
        }
    }

    // .promo-faq__title

    &__title {
        @extend .title;
        @extend %text-32;

        @media (min-width: 1025px) {
            max-width: 41rem;
        }
    }
}
