.blog-section {
    position: relative;

    @media (max-width: 1024px) {
        background-color: var(--light-blue);
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, left, 0, var(--gap), 100%, var(--light-blue));
        }

        &:after {
            @include rect(top, right, 0, var(--gap), 100%, var(--light-blue));
        }
    }

    // .blog-section__body

    &__body {
        padding-top: var(--section-padding);

        @media (min-width: 1025px) {
            background-color: var(--light-blue);
            padding-bottom: 9.5rem;
        }

        @media (max-width: 1024px) {
            padding-top: var(--offset-l);
        }
    }

    // .blog-section__top

    &__top {
        margin-bottom: var(--offset-xls);

        @media (max-width: 767px) {
            margin-bottom: var(--offset-s);
        }
    }

    // .blog-section__grid

    &__grid {
        --date: 2.6rem;
        --row-gap: 2.2rem;

        display: grid;

        @media (max-width: 1024px) {
            row-gap: var(--offset-s);
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: var(--date) var(--arrow-btn) var(--row-gap) 1fr var(--arrow-btn) var(--arrow-btn);
            grid-template-areas:
                'slider slider .'
                'slider slider allNews'
                'slider slider .'
                'slider slider success'
                '. . success'
                'moreBtn moreBtn success';
            column-gap: var(--offset-xls);
        }
    }

    // .blog-section__slider

    &__slider {
        @media (min-width: 1025px) {
            grid-area: slider;
            visibility: visible;
        }

        @media (max-width: 1024px) {
            width: 100vw;
            margin-left: calc(var(--mob-padding) * (-1));
            @include row-grid(var(--offset-m));
        }
    }

    &__slider-inner {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--offset-xls);
        }
    }

    &__slider-item,
    &__success-item {
        @media (min-width: 1025px) {
            display: none;
            min-height: calc(var(--date) + var(--card-height));
        }
    }

    // .blog-section__more

    &__more {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-area: moreBtn;
        }
    }

    &__link-btn {
        @media (min-width: 1025px) {
            grid-area: allNews;
        }

        @media (max-width: 1024px) {
            margin-right: var(--mob-padding);
        }
    }

    &__success {
        display: none;

        @media (min-width: 1025px) {
            display: grid;
            gap: var(--arrow-btn);
            grid-area: success;
        }
    }

    &__aside-client {
        align-self: flex-end;
    }
}

.blog-slider {
    &__slider-nav {
        display: none;

        @media (max-width: 1024px) {
            display: grid;
        }
    }
}

.blog-page {
    padding: var(--offset-xxl) 0 var(--offset-xxxl);
    position: relative;

    @media (max-width: 1024px) {
        padding-top: 0;
    }

    @media (max-width: 767px) {
        padding-bottom: var(--offset-l);
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, left, calc(var(--offset-xl) * (-1)), 0, 65.7rem, var(--beige));
        }

        &:after {
            @include rect(bottom, right, 0, 0, 61.7rem, var(--beige));
        }
    }

    // .blog-page__filters

    /* &__filters {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            padding-bottom: var(--offset-s);
            margin-bottom: var(--offset-xl);
            border-bottom: $border;
        }
    }

    // .blog-page__filter

    &__filter {
        position: relative;
        @extend %text-14;
        color: var(--black);

        &:not(:last-child) {
            margin-right: var(--offset-l);
        }

        &:after {
            content: '';
            position: absolute;
            bottom: calc(var(--offset-s) * (-1));
            left: 0;
            width: 0%;
            height: 0.1rem;
            background-color: var(--black);
        }

        &.active {
            font-weight: 500;
            &:after {
                width: 100%;
            }
        }
    } */

    &__cards {
        display: grid;
        gap: var(--offset-xls);

        @media (max-width: 1024px) {
            gap: var(--offset-l);
        }

        @media (max-width: 767px) {
            gap: var(--offset-s);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
        }

        &:not(:last-child) {
            margin-bottom: var(--offset-xxxl);

            @media (max-width: 1024px) {
                margin-bottom: var(--offset-l);
            }
        }
    }

    &__card {
        &:first-child {
            @media (max-width: 1024px) {
                position: relative;
                overflow: visible;
            }

            &::before {
                @media (max-width: 1024px) {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(var(--mob-padding) * (-1));
                    right: calc(var(--mob-padding) * (-1) - (var(--offset-l) - var(--mob-padding) * 2) / 2);
                    height: 50%;
                    background-color: var(--yellow);
                    z-index: -1;
                }

                @media (max-width: 767px) {
                    right: calc(var(--mob-padding) * (-1));
                }
            }
        }

        &:nth-child(2) {
            @media (min-width: 768px) and (max-width: 1024px) {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(var(--mob-padding) * (-1) - (var(--offset-l) - var(--mob-padding) * 2) / 2);
                    right: calc(var(--mob-padding) * (-1));
                    height: 50%;
                    background-color: var(--yellow);
                    z-index: -1;
                }
            }
        }
    }
}
