:root {
    --yellow: #ffcc48;
    --dark-yellow: #efba31;
    --hover-yellow: #ffd873;
    --ocean: #0ab3ca;
    --black: #020818;
    --dark: #131414;
    --dark-gray: #4d5560;
    --gray-second: #535353;
    --gray: #95a0af;
    --light-gray: #d7dded;
    --green: #43a141;
    --red: #e73656;
    --line-color: #ddd;
    --purple: #9b36cb;
    --light-purple: #cb7ad9;
    --pink: #e677f8;
    --beige: #fff5da;
    --light-blue: #ecf1ff;
    --vk: #007fef;
    --youtube: #ff031b;
    --fb: #006ceb;
    --inst: #008af0;

    --mob-padding: 1.2rem;
    --gap: 20rem;
    --container: calc(100vw - var(--gap) * 4);
    --header-height: 9.6rem;
    --circle-text: 22rem;
    --half-circle: calc(var(--circle-text) / 2);
    --marquee-padding: 4.9rem;
    --input-height: 5.6rem;
    --select-height-xl: 7.2rem;
    --section-mh: 80rem;
    --section-padding: 8rem;
    --section-padding-xl: 8.8rem;
    --nav: 5.6rem;
    --card-height: 44rem;
    --team-card-h: 41.6rem;
    --rating: 11.1rem;
    --figcaption--mh: 3.4rem;
    --form: 67.2rem;
    --select: 34.4rem;
    --progressbar: 0.6rem;

    // offsets (gaps)
    --offset-xxxl: 6.4rem;
    --offset-xxl: 5.6rem;
    --offset-xls: 4rem;
    --offset-xl: 4.8rem;
    --offset-l: 3.2rem;
    --offset-m: 2.4rem;
    --offset-s: 1.6rem;
    --offset-xs: var(--mob-padding);
    --offset-xxs: 0.8rem;

    --arrow-btn: var(--offset-xl);

    @media (max-width: 1024px) {
        --header-height: 4.8rem;
        --input-height: 4.8rem;
        --nav: 4.8rem;
        --marquee-padding: var(--offset-l);
    }

    @media (max-width: 767px) {
        --rating: var(--section-padding);
        //--card-height: 29.6rem;
        --card-height: 36rem;
        --arrow-btn: 4rem;
        --team-card-h: 29.6rem;
    }
}
