.video {
    $this: &;

    position: relative;
    display: grid;

    @media (min-width: 1025px) {
        grid-template-columns: 1fr 2rem max-content;
        grid-template-rows: 1fr max-content var(--offset-xls);
        grid-template-areas:
            'video . .'
            'video . info'
            'video . .';
    }

    @media (max-width: 1024px) {
        row-gap: var(--offset-s);
    }

    &--without {
        &_caption {
            display: block;
            position: relative;

            #{$this} {
                &__box {
                    position: absolute;
                    @extend %pos-center-xy;
                }
            }
        }
    }

    // .video__body

    &__body {
        position: relative;

        @media (min-width: 1025px) {
            grid-area: video;
        }
    }

    // .video__bg

    &__bg {
        width: 100%;
        height: 100%;

        img {
            @extend %cover;
        }
    }

    &__box {
        --pt: var(--offset-m);
        --pr: 2rem;
        --pb: 2rem;
        --pl: var(--offset-m);

        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--yellow);
        display: grid;

        @media (min-width: 1025px) {
            grid-template-columns: var(--pl) 1fr var(--pl) max-content var(--pr);
            grid-template-rows: var(--pt) max-content 0.3rem max-content var(--pb);
            grid-template-areas:
                '. . . . .'
                '. text . . .'
                '. . . . .'
                '. . . player .'
                '. . . . .';
        }

        @media (max-width: 1024px) {
            --play: 2.8rem;

            width: var(--offset-xxl);
            height: var(--offset-xxl);
            place-items: center;
            right: auto;
            bottom: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        @media (max-width: 767px) {
            --play: 2.3rem;

            width: var(--offset-xls);
            height: var(--offset-xls);
        }

        &--round {
            border-radius: 50%;
        }
    }

    &__text {
        @extend %text-12;
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-area: text;
            font-weight: 700;
            text-transform: uppercase;
            text-align: left;
        }
    }

    &__player {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    // .video__info

    &__info {
        @extend %text-13;
        line-height: 2.2rem;

        @media (max-width: 1024px) {
            color: var(--dark-gray);
        }

        @media (min-width: 1025px) {
            grid-area: info;
        }

        span {
            @media (min-width: 1025px) {
                display: block;
            }
        }

        &--white {
            @media (min-width: 1025px) {
                color: #fff;
            }
        }

        &--vertical {
            @media(min-width: 1025px) {
                transform: rotate(-90deg);
            }
        }
    }
}

.player-circle-wrap {
    @extend %grid-center;
    border: 0.1rem solid #fff;
    border-radius: 50%;
}
