.label {
    @extend %text-13;
    font-weight: 500;
    background-color: #fff;
    color: var(--black);
    border-radius: $brs;
    padding: 0.1rem var(--offset-xxs);
    transition: 0.3s background-color;

    &--style {
        &_bg {
            &-blue {
                background-color: var(--light-blue);
            }

            &-black {
                background-color: var(--black);
                color: #fff;
            }

            &-green {
                background-color: var(--green);
                color: #fff;
            }

            &-yellow {
                background-color: var(--yellow);
            }

            &-transparent {
                background-color: transparent;
                color: var(--dark-gray);
            }
        }
    }
}
