.promo-marquee {
    @extend %text-64;
    @include border-text(rgba(#fff, 0.8), transparent);
    height: 100vh;

    @media (max-width: 1024px) {
        height: calc(100vh - var(--header-height) - var(--pt) - var(--pb));
        font-size: 4.8rem;
    }

    @media (max-width: 767px) {
        height: auto;
        //height: calc(100vh - var(--header-height) - var(--pt) - var(--pb) - 6rem - 8rem);
        font-size: 2rem;
        line-height: 2.8rem;
    }

    p {
        @media (max-width: 767px) {
            display: none;
        }

        &:first-child {
            @media (max-width: 767px) {
                display: block;
                animation: none;
                margin: 0;
            }
        }
    }
}

.vertical-marquee {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    letter-spacing: 0.05em;
    transform: rotate(-180deg);
    overflow: auto;
    font-weight: 900;
    grid-area: marquee;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
    }

    p {
        writing-mode: vertical-lr;
        white-space: nowrap;
        margin: 2rem 0;
        animation: marquee 7s linear infinite;

        @media (max-width: 767px) {
            margin: var(--mob-padding) 0;
        }
    }

    &--style {
        &_color {
            &-gray {
                -webkit-text-stroke-color: var(--dark-gray);
                color: var(--dark-gray);
            }

            &-yellow {
                -webkit-text-fill-color: initial;
                -webkit-text-stroke-width: initial;
                -webkit-text-stroke-color: initial;
                color: var(--yellow);
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 100vh);
    }
}
