.title {
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    span {
        color: var(--yellow);
    }
}

.suptitle {
    @extend %text-17;

    @media(max-width: 767px) {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    &--black {
        color: var(--black);
    }
}

.section-title {
    @extend .title;
    @extend %text-38;

    span {
        color: var(--yellow);
    }

    &--border {
        span {
            display: inline-block;
            margin-left: var(--offset-s);

            @media(max-width: 767px) {
                margin-left: var(--offset-xxs);
            }
        }
    }

    &--stroke {
        span {
            margin-left: var(--offset-m);
            @include border-text(var(--black), transparent);
        }
    }
}

.section-suptitle {
    @extend %text-17;
    color: var(--dark-gray);

    @media (max-width: 767px) {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

.decor-title {
    @extend %flex-center;
    @extend .title;
    @extend %text-48;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    background-color: var(--yellow);
    color: #fff;
    display: none;

    @media(min-width: 1025px) {
        display: flex;
    }

    &--ocean {
        background-color: var(--ocean);
    }

    &--gray {
        background-color: #fff;
        color: var(--dark-gray);

        span {
            color: var(--yellow);
        }
    }
}

h {

    &1,
    &2,
    &3,
    &4,
    &5,
    &6 {
        @extend .title;
        margin: 0;
    }

    &1 {
        @extend %text-38;
    }

    &2 {
        @extend %text-32;
    }

    &3 {
        @extend %text-26;
    }

    &4 {
        @extend %text-20;
    }

    &5 {
        @extend %text-14;
    }

    &6 {
        @extend %text-13;
    }
}
