.pagination {
    display: grid;
    justify-items: center;
    // .pagination__list

    &__list {
        @extend %grid-row;
        gap: var(--offset-s);
    }

    // .pagination__link

    &__link {
        @extend %text-18;
        @extend %grid-center;
        width: var(--arrow-btn);
        height: var(--arrow-btn);
        background-color: var(--light-blue);
        border: 0.1rem solid var(--light-blue);
        transition: 0.3s all;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--yellow);
                border-color: var(--yellow);
            }
        }

        &.active {
            font-weight: 700;
            border-color: var(--black);
            background-color: #fff;
        }
    }
}
