.player-btn {
    --play: var(--offset-xxl);

    @extend %grid-center;
    width: var(--play);
    height: var(--play);
    background-color: var(--yellow);

    @media(max-width: 767px) {
        width: var(--arrow-btn);
        height: var(--arrow-btn);
    }

    &--round {
        border-radius: 50%;
    }

    &--style {
        &_bg {
            &-ocean {
                background-color: var(--ocean);
            }
        }
    }

    svg {
        fill: var(--black);
        width: var(--offset-l);
        height: var(--offset-l);

        @media(max-width: 767px) {
            width: 2.1rem;
            height: 2.1rem;
        }
    }
}
