.double-marquee {
    @include padding-y(var(--marquee-padding));
    overflow: hidden;

    &--with {
        &_border {
            border-top: 0.1rem solid var(--black);

            @media(min-width: 1025px) {
                border-bottom: 0.1rem solid var(--black);
            }
        }
    }

    > * {
        display: flex;

        &:not(:last-child) {
            margin-bottom: var(--offset-xxs);
        }
    }

    p {
        display: flex;
        @extend .section-title;
        margin: 0 var(--offset-xxs);
        white-space: nowrap;
        @include border-text(var(--gray), transparent);

        span {
            -webkit-text-fill-color: initial;
            -webkit-text-stroke-width: initial;
            -webkit-text-stroke-color: initial;
            color: var(--yellow);
            margin: 0 var(--offset-xxs);
        }
    }

    &--gray {
        p {
            -webkit-text-stroke-color: var(--dark-gray);

            span {
                color: var(--dark-gray);
            }
        }
    }

    // .double-marquee__top

    &__line {
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &--top {
            flex-direction: row-reverse;
            animation-name: horizontal-marquee-top;
        }

        &--bottom {
            animation-name: horizontal-marquee-bottom;
        }
    }
}

@keyframes horizontal-marquee-top {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes horizontal-marquee-bottom {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}
